<!DOCTYPE html>
<head>
    <title>Zayar Naing</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1><p>Assignment</p> 
    <p>Welcome Sue Student from <strong><em>Introduction to Programming</em></strong></p>
    <p>Make sure that your code passes the <a href="https://validator.w3.org/nu/">W3C HTML Validator</a> before submitting this assignment.</p>
    <p>Make sure your title tag in the HTML contains this:</p>
    <p>
        <div>
            <img src="image.png">
        </div>
    </p>
</body>
</html>